# Table of Contents

1. Importing Libraries
2. Import Dataframe
3. Data wrangling (Cleaning)
4. Export Data

# 1. Import Data

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\admin\Desktop\New York rentals Dataset'

In [3]:
path

'C:\\Users\\admin\\Desktop\\New York rentals Dataset'

# 2. Import Path & Data Set

In [5]:
#Read the CSV file from the specified path

df_rentals =pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'new_york_rentals.csv'), index_col = False)

In [6]:
df_rentals.head()

,F1,id,neighbourhood,latitude,longitude,room_type,price,days_occupied_in_2019,minimum_nights,number_of_reviews,reviews_per_month,availability_2020
0,0,2595,Midtown,40.75362,-73.98377,Entire home/apt,225,15,10,48,0.39,1
1,1,3831,Brooklyn,40.68514,-73.95976,Entire home/apt,89,188,1,295,4.67,1
2,2,5099,Manhattan,40.74767,-73.97500,Entire home/apt,200,362,3,78,0.60,19
3,3,5121,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,0,29,49,0.38,365
4,4,5178,Manhattan,40.76489,-73.98493,Private room,79,141,2,454,3.52,242

# 3. Data wrangling (Cleaning)

In [7]:
# dropping F1 column from new_york_rentals.csv (because it is not relevant for our analysis)
df_rentals = df_rentals.drop(columns = ['F1'])

In [8]:
# check output 
df_rentals.head()

,id,neighbourhood,latitude,longitude,room_type,price,days_occupied_in_2019,minimum_nights,number_of_reviews,reviews_per_month,availability_2020
0,2595,Midtown,40.75362,-73.98377,Entire home/apt,225,15,10,48,0.39,1
1,3831,Brooklyn,40.68514,-73.95976,Entire home/apt,89,188,1,295,4.67,1
2,5099,Manhattan,40.74767,-73.97500,Entire home/apt,200,362,3,78,0.60,19
3,5121,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,0,29,49,0.38,365
4,5178,Manhattan,40.76489,-73.98493,Private room,79,141,2,454,3.52,242

In [9]:
# check the total amount of rows and column

df_rentals.shape

(17614, 11)

In [14]:
# check for mix data types

for col in df_rentals.columns.tolist():
  weird = (df_rentals[[col]].applymap(type) !=df_rentals[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_rentals[weird]) > 0:
    print (col)

There are no mixed data types in the data set.

In [15]:
# check data info and data types

df_rentals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17614 entries, 0 to 17613
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     17614 non-null  int64
 1   neighbourhood          17614 non-null  object
 2   latitude               17614 non-null  float64
 3   longitude              17614 non-null  float64
 4   room_type              17614 non-null  object
 5   price                  17614 non-null  int64
 6   days_occupied_in_2019  17614 non-null  int64
 7   minimum_nights         17614 non-null  int64
 8   number_of_reviews      17614 non-null  int64
 9   reviews_per_month      17614 non-null  float64
 10  availability_2020      17614 non-null  int64
dtypes: float64(3), int64(6), object(2)
memory usage: 1.5+ MB

In [16]:
# code to check for missing value in the df_rentals
df_rentals.isnull().sum()

id                       0
neighbourhood            0
latitude                 0
longitude                0
room_type                0
price                    0
days_occupied_in_2019    0
minimum_nights           0
number_of_reviews        0
reviews_per_month        0
availability_2020        0
dtype: int64

There are no missing values found in the new york rental properties pricing dataset

In [17]:
# Conduct basic descriptive statistics for the dataset
df_rentals.describe()

,id,latitude,longitude,price,days_occupied_in_2019,minimum_nights,number_of_reviews,reviews_per_month,availability_2020
count,1.761400e+04,17614.000000,17614.000000,17614.000000,17614.000000,17614.000000,17614.000000,17614.000000,17614.000000
mean,1.572032e+07,40.726755,-73.947732,145.455490,179.517656,7.392926,56.128988,1.607060,154.154763
std,9.644155e+06,0.056981,0.050213,194.990677,130.202015,19.233869,65.972370,1.635528,138.079651
min,2.595000e+03,40.508680,-74.239860,0.000000,0.000000,1.000000,1.000000,0.010000,0.000000
25%,6.718288e+06,40.686042,-73.980938,70.000000,35.000000,2.000000,9.000000,0.340000,8.000000
50%,1.654699e+07,40.720540,-73.953050,109.000000,198.000000,3.000000,33.000000,1.060000,125.000000
75%,2.407707e+07,40.763127,-73.930682,170.000000,301.000000,5.000000,79.000000,2.460000,309.000000
max,3.056528e+07,40.908040,-73.721790,9999.000000,364.000000,1125.000000,675.000000,19.250000,365.000000

In [27]:
# following command will search for full duplicate rows within dataframe

df_dups = df_rentals[df_rentals.duplicated()]

In [28]:
df_dups

Empty DataFrame
Columns: [id, neighbourhood, latitude, longitude, room_type, price, days_occupied_in_2019, minimum_nights, number_of_reviews, reviews_per_month, availability_2020]
Index: []

There are no duplicates found

In [29]:
# Check shape of the dataset before exporting 
df_rentals.shape

(17614, 11)

# 4. Export data

In [30]:
df_rentals.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'df_rental_cleaned.csv'))

In [31]:
df_rentals.head()

,id,neighbourhood,latitude,longitude,room_type,price,days_occupied_in_2019,minimum_nights,number_of_reviews,reviews_per_month,availability_2020
0,2595,Midtown,40.75362,-73.98377,Entire home/apt,225,15,10,48,0.39,1
1,3831,Brooklyn,40.68514,-73.95976,Entire home/apt,89,188,1,295,4.67,1
2,5099,Manhattan,40.74767,-73.97500,Entire home/apt,200,362,3,78,0.60,19
3,5121,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,0,29,49,0.38,365
4,5178,Manhattan,40.76489,-73.98493,Private room,79,141,2,454,3.52,242